@page
@model HospiEnCasa.App.Frontend.Pages.Pacientes.DetailsModel
@{
}
<h1>Detalle del paciente</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.paciente.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Apellido</th>
        <td>@Model.paciente.Apellidos</td>
    </tr>
    <tr>
        <th scope="col">Direccion</th>
        <td>@Model.paciente.Direccion</td>
    </tr>
    <tr>
        <th scope="col">Ciudad</th>
        <td>@Model.paciente.Ciudad</td>
    </tr>
    <tr>
        <th scope="col">Medico</th>
        <td>
            @if (Model.paciente.Medico == null)
            {
                <a asp-page="./AddMedico" class="btn btn-primary" asp-route-id="@Model.paciente.Id">Asignar medico</a>
            }
            else
            {
                @Model.paciente.Medico.Nombre
            }
        </td>
    </tr>
    <tr>
        <th scope="col">Signos vitales</th>
        <td>
            <ul>
                @foreach (var signoVital in Model.paciente.SignosVitales)
                {
                    <li>@signoVital.Signo - @signoVital.Valor</li>
                }
            </ul>
            <a asp-page="./AddSignoVital" class="btn btn-primary" asp-route-id="@Model.paciente.Id">Asignar signo vital</a>
        </td>
    </tr>
</table>
<a asp-page="./Index" class="btn btn-primary">Volver</a>